a {
  color: #000;
  text-decoration: none; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

.c-text__lv1 {
  font-size: 56px;
  font-weight: 900; }
.c-text__lv2 {
  font-size: 46px;
  font-weight: 900; }
.c-text__lv3 {
  font-size: 30px;
  font-weight: 900; }
.c-text__lv4 {
  font-size: 18px;
  font-weight: 700; }
.c-text__lv5 {
  font-size: 14px;
  font-weight: 600; }

.c-description__lv1 {
  font-size: 24px;
  font-weight: 400; }
.c-description__lv2 {
  font-size: 18px;
  font-weight: 400; }
.c-description__lv3 {
  font-size: 16px;
  font-weight: 400; }
.c-description__lv4 {
  font-size: 14px;
  font-weight: 400; }

.c-button {
  color: #fff;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 24px;
  border-radius: 8px;
  background: #000; }
  .c-button--white {
    background: #fff;
    color: #000; }
  .c-button--small {
    height: 40px; }
  .c-button--bold {
    font-weight: 600; }
  .c-button--radius {
    border-radius: 50px;
    background: #fff;
    color: #6F019C;
    font-weight: 600;
    padding: 20px 30px;
    font-size: 18px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); }

.c-image {
  background: blue;
  width: 100%;
  background-size: cover;
  border-radius: 16px; }
  .c-image:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%; }

.p-header {
  margin-bottom: -80px; }
  .p-header .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  .p-header__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
    .p-header__nav__list {
      display: flex;
      align-items: center; }
      .p-header__nav__list__item {
        padding: 0 16px; }
    .p-header__nav__head {
      margin-top: 40px;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .p-header__nav__body {
      width: 100%;
      height: 70px;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 300px;
      overflow: hidden; }
    .p-header__nav__search {
      width: 100%;
      background: #fff; }
      .p-header__nav__search__list {
        margin: 0;
        padding: 1px;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .p-header__nav__search__list__text {
          width: 240px;
          border-left: 1px solid #d1d1d1;
          padding: 0 10px 0 20px; }
          .p-header__nav__search__list__text:first-child {
            border-left: none;
            min-width: 140px; }
  .p-header__action__list {
    display: flex;
    align-items: center; }

.p-home__mainvisual {
  height: 760px;
  background: #ccc;
  background: url(../img/mainVisual.jpg);
  background-size: cover;
  display: flex;
  align-items: center; }
  .p-home__mainvisual__text {
    text-align: center; }
    .p-home__mainvisual__text .c-button {
      margin-top: 24px; }
.p-home__section {
  margin-top: 40px; }
  .p-home__section__head {
    margin-bottom: 24px; }

.p-arealist {
  display: flex;
  flex-wrap: wrap;
  margin: -8px; }
  .p-arealist__item {
    display: flex;
    align-items: center;
    width: 25%;
    padding: 8px; }
    .p-arealist__item__image {
      width: 72px;
      margin-right: 16px; }

.p-cardlist {
  display: flex;
  margin: -8px; }
  .p-cardlist__item {
    flex: 1 1 0%;
    padding: 8px; }

.p-box {
  color: #fff;
  height: 480px;
  padding: 80px;
  display: flex;
  align-items: center;
  background-size: cover;
  border-radius: 16px;
  position: relative; }
  .p-box--slide:before {
    content: "";
    display: block;
    width: 700px;
    height: 100%;
    background: -moz-linear-gradient(left, #333333 0%, rgba(51, 51, 51, 0.93) 68%, rgba(51, 51, 51, 0.81) 77%, rgba(51, 51, 51, 0.72) 84%, rgba(51, 51, 51, 0) 100%);
    background: -webkit-linear-gradient(left, #333333 0%, rgba(51, 51, 51, 0.93) 68%, rgba(51, 51, 51, 0.81) 77%, rgba(51, 51, 51, 0.72) 84%, rgba(51, 51, 51, 0) 100%);
    background: linear-gradient(to right, #333333 0%, rgba(51, 51, 51, 0.93) 68%, rgba(51, 51, 51, 0.81) 77%, rgba(51, 51, 51, 0.72) 84%, rgba(51, 51, 51, 0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .p-box__text {
    max-width: 340px;
    position: relative;
    z-index: 1; }
    .p-box__text__black {
      color: #000;
      max-width: 250px;
      line-height: 4em; }
    .p-box__text .c-button {
      margin-top: 32px; }

.p-footer {
  padding-top: 40px;
  margin-top: 40px;
  background: #eee; }
  .p-footer__body {
    display: flex; }
  .p-footer__item {
    width: 25%; }
  .p-footer__foot {
    border-top: 1px solid #000;
    margin-top: 40px;
    padding-top: 24px; }

/*# sourceMappingURL=home.css.map */
